[04] Flows/dalek-response.json
[
    {
        "id": "21609e5842f5186d",
        "type": "tab",
        "label": "Dalek Response",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5744750c9ee1c428",
        "type": "mqtt in",
        "z": "21609e5842f5186d",
        "name": "",
        "topic": "/dalek/command",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fc41be3ab55aa747",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "e767a9257a9b60b3",
                "4e8ae6133bc9ff34"
            ]
        ]
    },
    {
        "id": "e767a9257a9b60b3",
        "type": "serial out",
        "z": "21609e5842f5186d",
        "name": "ControlOut",
        "serial": "1629cc447f2a371d",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e8ae6133bc9ff34",
        "type": "debug",
        "z": "21609e5842f5186d",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4feb27dbab5b4e8",
        "type": "ui_switch",
        "z": "21609e5842f5186d",
        "name": "",
        "label": "Toggle NR Control",
        "tooltip": "",
        "group": "d52cb70ecd2d0748",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "5",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "6",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "e767a9257a9b60b3",
                "4e8ae6133bc9ff34"
            ]
        ]
    },
    {
        "id": "fc41be3ab55aa747",
        "type": "mqtt-broker",
        "name": "Mobile-Link",
        "broker": "192.168.0.102",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1629cc447f2a371d",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d52cb70ecd2d0748",
        "type": "ui_group",
        "name": "Diagnostics",
        "tab": "8d5cabcad4f2e926",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d5cabcad4f2e926",
        "type": "ui_tab",
        "name": "Diagnostics",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]